mat-grid-list {
    margin: 0% 5%;
}

.forms {
    box-sizing: border-box;
    margin: 10% auto;
    padding: 7em;
    width: 97%;
    justify-content: center;
    height: 100%;
}

.form {
    width: 100%;
    display: block;
    margin: 0 2%;
    padding: 2%;
    background: white;
    text-align: center;
    transition: transform .2s;
    border-radius: 2%;
    overflow: visible;
}

.form a {
    text-decoration: underline;
    color: black;
}

.number {
    text-decoration: underline;
    color: black;
    font-size: 1.5em;
}

.form a:hover {
    color: gray;
}

.img-support {
    position: absolute;
    left: 5%;
}

.img-technical {
    position: absolute;
    left: 5%;
}

.header {
    display: inline-flex;
    justify-content: center;
    text-align: center;
}

.header h2 {
    margin-bottom: 0;
}