<mat-grid-list cols="{{breakpoint}}" rowHeight="2:1" (window:resize)="onResize($event)">
    <!-- Customer Service -->
    <mat-grid-tile class="forms" colspan="1">
        <li class="form">
            <img src="../../../assets/support.png" class="img-support" alt="img-support" width="10%">
            <h1>Customer Service</h1>
            <p>On our customer service line you will find out your current consumption,<br>bills to be paid and payment details for making the payment via automated system 24/7.<br>We will help you with blocking / unblocking your SIM card. In addition to
                the above, our operators are available monday to friday from 08:00 to 18:00 and saturday to sunday from 08:00 to 12:00, who will be happy to advise you on your request and provide information about our products and services.</p>
            <h3>When is the best time to call?</h3>
            <img src="../../../assets/graph.svg" alt="img-graph" width="50%">
            <h1>Phone number:</h1>
            <a class="number" href="tel: +421907057630">+421 944 840 360 </a>
        </li>
    </mat-grid-tile>

    <!-- Technical Service -->
    <mat-grid-tile class="forms" colspan="1">
        <li class="form">
            <img src="../../../assets/technical.png" class="img-technical" alt="img-technical" width="8%">
            <h1>Technical Service</h1>
            <p>Do you have a problem with setting up your phone, router, TV or any of our services?<br>On our Technical service line, our experts will be happy to help you on weekdays and saturdays from 08:00 to 21:00.</p>
            <p>Before you contact our technical service, please read the section: <a routerLink="/faq">Instructions and settings</a></p>
            <h1>Phone number:</h1>
            <a class="number" href="tel: 13805">13 805</a>
        </li>
    </mat-grid-tile>
</mat-grid-list>