.forms {
    display: inline-flex;
    box-sizing: border-box;
    margin: 10% auto;
    width: 97%;
    justify-content: center;
}

.form {
    width: 100%;
    display: block;
    margin: 0 2%;
    padding: 2%;
    background: white;
    text-align: center;
    cursor: pointer;
    transition: transform .2s;
    border-radius: 3%;
}

.form:hover {
    transform: scale(1.05);
}