<mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile class="forms" colspan="1">
        <li class="form" routerLink="/support/ticket">
            <img src="../../assets/ticket.png" alt="ticket-icon" width="40%">
            <h2>Request a ticket</h2>
            <h5>If you have not found the solution in FAQ and want to create a ticket to solve your problem</h5>
        </li>
    </mat-grid-tile>
    <mat-grid-tile class="forms" colspan="1">
        <li class="form" routerLink="/support/customer-service">
            <img src="../../assets/support.png" alt="ticket-icon" width="40%">
            <h2>Customer service</h2>
            <h5>If you want to solve your problem in a real time via phone call</h5>
        </li>
    </mat-grid-tile>
    <mat-grid-tile class="forms" colspan="1">
        <li class="form" routerLink="/support/livechat">
            <img src="../../assets/livechat.png" alt="ticket-icon" width="40%">
            <h2>LiveChat</h2>
            <h5>If you want to solve your problem in a real time via live chat</h5>
        </li>
    </mat-grid-tile>
</mat-grid-list>