    .text-area {
        margin-top: 10%;
        margin-left: 3%;
        font-family: 'Montserrat', sans-serif;
    }
    
    .text-area h1 {
        font-size: 5em;
        margin-bottom: 0.6em;
    }
    
    .text-area h3 {
        font-size: 2.5em;
        line-height: 1.2em;
    }