<div *ngIf="(router.url === '/'); else homeBackground" id="background-img">
    <div class="logo">
        <a href=""><img src="../assets/LogoSmartObject.png" alt="helpdesk-logo" width=80% /></a>
    </div>
    <app-navbar></app-navbar>
    <livechat-widget licenseId="11082047" (onChatLoaded)="onChatLoaded($event)"></livechat-widget>
</div>

<ng-template #homeBackground id="background">
    <div class="logo">
        <a href=""><img src="../assets/LogoSmartObject.png" alt="helpdesk-logo" width=80% /></a>
    </div>
    <app-navbar></app-navbar>
    <livechat-widget licenseId="11082047" (onChatLoaded)="onChatLoaded($event)"></livechat-widget>
</ng-template>