<div class="background">
    <h1>Privacy Policy
    </h1>
    <p>We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our policy, or our practices with regards to your personal information, please contact us.<br> This Privacy Policy governs
        the privacy policies and practices of our Website, located at PrivacyPolicies.com. Please read our Privacy Policy carefully as it will help you make informed decisions about sharing your personal information with us.</p>
    <h2>Information We Collect
    </h2>
    <p>As a Visitor, you can browse our Website to find out more about our Website. You are not required to provide us with any personal information as a Visitor.
    </p>
    <h3>
        Information You Provide to Us

    </h3>
    <p>We collect your personal information when you register with us ("User"), when you express an interest in obtaining information about us or our products and services, when you participate in activities on our Website Site (such as using our builder)
        or otherwise contacting us.<br> Generally, you control the amount and type of information you provide to us when using our Website. The personal information that we collect depends on the context of your interaction with us and the Website, the
        choices you make and the products and features you use. The personal information we collect can include the following:</p>
    <ul>
        <li>Name, Email Address and Contact Data
        </li>
        <li>Payment Information. If you choose to buy one of our Policy, we collect payment information through our payment processor. All payment information is securely stored by our payment processor and we do not have access to your sensitive information,
            such as credit card number or security code.
        </li>
        <li>Business Information. If you choose to create a Policy on our Website, we may ask specific information related to your business in order to create the Policy.
        </li>
    </ul>
    <h3>Automatically Collected Information
    </h3>
    <p>When you use our Website, we automatically collect certain computer information by the interaction of your mobile phone or web browser with our Website. Such information is typically considered non-personal information. We also collect the following:

    </p>
    <h3>
        Cookies
    </h3>
    <p>Our Website uses "Cookies" to identify the areas of our Website that you have visited. A Cookie is a small piece of data stored on your computer or mobile device by your web browser. We use Cookies to personalize the Content that you see on our Website.
        Most web browsers can be set to disable the use of Cookies. However, if you disable Cookies, you may not be able to access functionality on our Website correctly or at all. We never place Personally Identifiable Information in Cookies.
    </p>
    <h3>Log Information
    </h3>
    <p>We automatically receive information from your web browser or mobile device. This information includes the name of the website from which you entered our Website, if any, as well as the name of the website to which you're headed when you leave our
        website. This information also includes the IP address of your computer/proxy server that you use to access the Internet, your Internet Website provider name, web browser type, type of mobile device, and computer operating system. We use all of
        this information to analyze trends among our Users to help improve our Website.
    </p>
    <br>
    <h2>Information Regarding Your Data Protection Rights Under General Data Protection Regulation (GDPR)
    </h2>
    <p>For the purpose of this Privacy Policy, we are a Data Controller of your personal information.<br> If you are from the European Economic Area (EEA), our legal basis for collecting and using your personal information, as described in this Privacy Policy,
        depends on the information we collect and the specific context in which we collect it. We may process your personal information because:</p>
    <ul>
        <li>We need to perform a contract with you, such as when you use our services
        </li>
        <li>You have given us permission to do so
        </li>
        <li>The processing is in our legitimate interests and it's not overridden by your rights
        </li>
        <li>For payment processing purposes
        </li>
        <li>To comply with the law
        </li>
    </ul>
    <p>If you are a resident of the European Economic Area (EEA), you have certain data protection rights. In certain circumstances, you have the following data protection rights:</p>
    <ul>
        <li>The right to access, update or to delete the personal information we have on you
        </li>
        <li>The right of rectification
        </li>
        <li>The right to object
        </li>
        <li>The right of restriction
        </li>
        <li>The right to data portability
        </li>
        <li>The right to withdraw consent
        </li>
    </ul>
    <p>
        Please note that we may ask you to verify your identity before responding to such requests.<br> You have the right to complain to a Data Protection Authority about our collection and use of your personal information. For more information, please
        contact your local data protection authority in the European Economic Area (EEA).
    </p>
</div>