.align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-form-field {
    align-items: center;
}

.input {
    margin-top: 2em;
    width: 50%;
}

.title {
    width: 150%;
}

.desc {
    width: 250%;
}