<!-- <div class="align">
    <mat-form-field class="input" appearance="fill">
        <mat-label>Subject</mat-label>
        <input matInput [(ngModel)]="subject" [formControl]="controlSubject" required>
        <mat-error *ngIf="controlSubject.invalid">{{getErrorMessageSubject()}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="option" appearance="fill">
        <mat-label>Priority</mat-label>
        <mat-select [formControl]="controlOption" required>
            <mat-option value="option">High</mat-option>
            <mat-option value="option">Mid</mat-option>
            <mat-option value="option">Low</mat-option>
        </mat-select>
        <mat-error *ngIf="controlOption.invalid">{{getErrorMessageOption()}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="desc" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput [formControl]="controlText" required></textarea>
        <mat-error *ngIf="controlText.invalid">{{getErrorMessageText()}}</mat-error>
    </mat-form-field>
    <br>
    <button mat-flat-button (click)="sendTicket()" color="primary">Send ticket</button>
</div> -->
<mat-card id="center">
    <!-- Title of an Card -->
    <mat-card-title>
        Create a ticket
    </mat-card-title>

    <!-- Actual content starts from here -->
    <mat-card-content>
        <form [formGroup]="regiForm" (ngSubmit)="onFormSubmit(regiForm.value)">
            <table>
                <tr>
                    <td>
                        <mat-form-field class="demo-full-width">
                            <input formControlName="FirstName" matInput placeholder="First Name">
                        </mat-form-field>
                        <mat-error>
                            <span *ngIf="!regiForm.get('FirstName').valid && regiForm.get('FirstName').touched">Please enter First Name</span>
                        </mat-error>
                    </td>
                    <td>
                        <mat-form-field class="demo-full-width">
                            <input formControlName="LastName" matInput placeholder="Last Name">
                        </mat-form-field>
                        <mat-error>
                            <span *ngIf="!regiForm.get('LastName').valid && regiForm.get('LastName').touched">Please enter Last Name</span>
                        </mat-error>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field class="demo-full-width">
                            <textarea formControlName="Address" matInput placeholder="Address" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
                        </mat-form-field>
                        <mat-error>
                            <span *ngIf="!regiForm.get('Address').valid && regiForm.get('Address').touched">Please enter proper address</span>
                        </mat-error>
                    </td>
                </tr>
                <tr>
                    <td><br>
                        <mat-form-field>
                            <mat-select formControlName="Priority" placeholder="Select Priority">
                                <mat-option>-- Select Any --</mat-option>
                                <mat-option value="high">High</mat-option>
                                <mat-option value="medium">Medium</mat-option>
                                <mat-option value="low">Low</mat-option>
                            </mat-select>
                            <mat-error>
                                <span *ngIf="!regiForm.get('Priority').valid && regiForm.get('Priority').touched">Please select any item</span>
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field class="demo-full-width">
                            <input formControlName="Email" matInput placeholder="Email">
                            <mat-hint>example: example@example.com</mat-hint>
                            <mat-error>
                                <span *ngIf="!regiForm.get('Email').valid && regiForm.get('Email').touched">Enter proper Email</span>
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field class="demo-full-width title">
                            <textarea formControlName="Title" matInput placeholder="Title" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
                        </mat-form-field>
                        <mat-error>
                            <span *ngIf="!regiForm.get('Title').valid && regiForm.get('Title').touched">Please enter a title</span>
                        </mat-error>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field class="demo-full-width desc">
                            <textarea formControlName="Description" matInput placeholder="Description" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
                        </mat-form-field>
                        <mat-error>
                            <span *ngIf="!regiForm.get('Description').valid && regiForm.get('Description').touched">Please enter a description</span>
                        </mat-error>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-slide-toggle formControlName="IsAccepted" (change)="onChange($event)">Accept Terms & Conditions</mat-slide-toggle>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="content-center">
                        <button mat-raised-button color="primary" [disabled]="!regiForm.valid || IsAccepted==0">Submit</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
        </form>
    </mat-card-content>
</mat-card>