<mat-accordion>
    <mat-expansion-panel class="margin-top-2" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                I've gone over my allowance. Can I cover it with an add-on?
            </mat-panel-title>
            <mat-panel-description>
                Add-ons
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>No, sorry. If you go over your allowance, you'll be charged at out of bundle rates until you buy your add-on. Your add-on can't be backdated or used to cover your past usage. It comes into effect when you buy it, and never before. Don't let this
            put you off buying an add-on when you've gone over and above your limit. An add-on will still prevent you from racking up additional out of bundle charges.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                How long does my add-on last?
            </mat-panel-title>
            <mat-panel-description>
                Add-ons
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Add-ons can last 7 days, 30 days or 12 months. You can see when yours is due to expire by going to the dashboard of your iD Mobile app or My Account online, and looking under 'Add-ons'. Please note: Add-ons last across different billing periods.
            So for example, if you buy an add-on two days before your current billing period ends, it won't just end in two days' time.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                When does my recurring add-on refresh?
            </mat-panel-title>
            <mat-panel-description>
                Add-ons
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Recurring add-ons are no longer available to purchase from iD Mobile. However, if you have an existing recurring add-on, it'll keep refreshing every month when your new billing period starts. It'll stop recurring when it expires, or if you cancel
            it.
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel class="margin-top-2" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                How can I turn off voice messages?
            </mat-panel-title>
            <mat-panel-description>
                All about voicemail
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>To turn off voicemail, simply log in to your iD Mobile app or My Account, select 'Services', then toggle 'Voicemail' off.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                What is voicemail?
            </mat-panel-title>
            <mat-panel-description>
                All about voicemail
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Voicemail is an answering service that records voice messages if you miss a call. You can listen to the messages using the playback facility.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                How can I check my voicemail messages?
            </mat-panel-title>
            <mat-panel-description>
                All about voicemail
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>To check your voicemail messages you can dial 123 from your iD mobile phone. You can also access your voicemail from a UK landline by dialling 07782 333 123 or 0044 7782 333 123 from outside the UK.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                How do I increase/decrease the time before a call goes to voicemail?
            </mat-panel-title>
            <mat-panel-description>
                All about voicemail
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>When receiving a call, your mobile is automatically set to ring for 30 seconds before it's diverted voicemail. However you have the ability to change this at any time to a choice of five-second intervals, ranging from 5 to 30 seconds. All you
            need to do is enter **61*123** followed by the number of seconds you'd like your phone to ring for, then # and call. So, if for example, you'd like your phone to ring for 20 seconds, you'd need to dial **61*123**20# and press call. Once you've
            done this, a message will pop up on your screen confirming the update.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                I need to reset my pin how can I do this?
            </mat-panel-title>
            <mat-panel-description>
                All about voicemail
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>123 from your phone or if you need to access your voicemail from another phone you can dial +44 7782 333 123
            <li>Select option 4 from the main menu</li>
            <li>Press 2, then press 1 to change your PIN</li>
            <li>Enter your new PIN followed by the # key (please note that simple PINs such as 1234 or 4444 will not be accepted)</li>
            <li>Enter the PIN again</li>
            <li>Your PIN will now have been changed.</li>
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel class="margin-top-2" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                What calls are included within my monthly allowance of minutes?
            </mat-panel-title>
            <mat-panel-description>
                Call types
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Calls to standard UK mobiles and landlines are included within your allowance. You can also use your monthly allowances to call our EU inclusive roaming contries. For more information, see idmobile.co.uk/help-and-advice/eu-roaming</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                How much does it cost for calls outside my allowance?
            </mat-panel-title>
            <mat-panel-description>
                Call types
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Please check the Call Charges table to see how much calls outside of your allowances are charged at. For charges related to calling other countries or roaming, please check our international and roaming charges page.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                How can I see which premium rate service I've been charged for?
            </mat-panel-title>
            <mat-panel-description>
                Call types
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>You should be able to see what you've been charged for on your monthly bill . If all you can see is a number, try putting it through an online phone number checker. You may also have received a text message to confirm your purchase, so keep an
            eye out for that.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                How can I stop premium rate services being accessed from my phone?
            </mat-panel-title>
            <mat-panel-description>
                Call types
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>When you dial a 09 number, you'll be warned that if you stay on the line you'll be charged for the call (but not all premium service numbers have this warning). You can prevent access to premium numbers by going into your iD Mobile app or My Account
            online. Then turn off 'premium' in the services, and toggle off 'premium numbers'. If you set a cap on your account, you will not be able to spend above youp cap limit on services such as premium numbers.</p>
    </mat-expansion-panel>
</mat-accordion>