.main-menu-tab {
    margin: 0 auto;
    width: 80%;
}

.main-menu-tab ul {
    list-style-type: none;
    text-align: right;
}

.main-menu-tab ul li {
    float: none;
    display: inline-block;
    cursor: pointer;
}

.main-menu-tab ul li a {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 1em 2em;
}

.main-menu-tab ul li a:hover {
    color: silver;
}

.active {
    color: silver!important
}