<nav class="main-menu-tab">
    <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/support" routerLinkActive="active">Support</a></li>
        <li><a routerLink="/faq" routerLinkActive="active">FAQ</a></li>
        <li><a routerLink="/forum" routerLinkActive="active">Forum</a></li>
        <li><a routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>